version: "3.9"

services:
  server:
    build: ./server
    env_file:
      - .env
    ports:
      - "8080:8080"

  client:
    build: ./client
    env_file:
      - .env
    environment:
      - PORT=3000
    ports:
      - "3000:3000"
    depends_on:
      - server
